<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hasil prediksi</title>
</head>
<body>
    <center>
        <br><br><br><br>
        <h1>Angka yang anda tulis adalah {{x[0]}}</h1>
        <br><br>
        <form action="http://localhost:5000/">
            <p> 
            <input type="submit" value="Predict Again">
            </p>
        </form>
    </center>
</body>
</html>